.BoardBox{
  cursor: pointer;
  border-bottom: 2px solid #ededed;
  border-right: 2px solid #ededed;
  padding-top: 2px;
  padding-left: 2px;
}
.BoardBox.selected{
  border: 2px solid rgb(75, 255, 75);
  padding-top: 0px;
  padding-left: 0px;
}
.BoardBox.available-for-move{
  background-color: rgb(236, 236, 217);
}
.BoardBox.death{
  background-color: red;
}
