.Units {
  min-height: var(--box-height); 
  min-width: var(--box-width);
  border: 1px solid white;
  background: transparent;
}
.Unit {
  min-height: var(--box-height); 
  min-width: var(--box-width);
  height: var(--box-height); 
  width: var(--box-width);
  background: transparent;
}
.Unit.attacked {
  border: 1px solid red
}
.Unit.attacker {
  border: 1px solid blue;
}
.unit-container {
  position: relative;
}
.unit-health {
  position: absolute;
  left: calc(var(--box-width) - 5px); 
}

