.App * {
  user-select: none !important;  
}
.App row {
  position: static
}
.App li {
  list-style-type: none;
}
body ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
.App {
  padding: 0px 5px 0px 5px;
}
