.App-header {
  /* text-align: center; */
  background-color:#1498d5;
  color: white;
}
.App-logo{
  line-break: auto;
}
.App * {
  user-select: none !important;  
}
.App a{
 color: #ededed;
 font-weight: bold;
}

