.BoardBox{
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
}

.BoardBox * {
  vertical-align: middle !important;
  margin: auto;
  padding: 0
}