.navbar{
  position: static;
  width: 100%;
  padding: 4px; 
  z-index: 200
} 
.AppLogo{
  line-break: auto;
  height: var(--box-height);
}
.navbar-toggler{
  padding: 0;
}
.navbar .intervalInput {
  width: 70px; 
}