.NotificationPanel {
  position: absolute;
  border-radius: 10px;
  right: 10%;
  /* bottom: 100%; */
  margin: 10px;
  background-color: rgb(182, 42, 42);
  color: #ffffff;
  opacity: 0.8; 
  max-width: 40%;
  max-height: 40%;
  z-index: 299;
  /* display: none; */
  /* overflow: scroll; */
}
.NotificationPanel .message {
  font-size: 1.2em;
}
.NotificationPanel:after {
  content: "";
  display: table; 
  clear: both;  
}