.UnitSelectionInfo {
  /* border-radius: 10px;
  background: #999999;
  opacity: 0.7; 
  max-width: 100%;
  max-height: 100%; 
  display: block */
}

/* .UnitSelectionInfo * {
  opacity: 1
} */
/* .UnitSelectionInfo.is-pointer-down {
  background: #09F;
}
.UnitSelectionInfo.is-dragging { opacity: 0.6; } */
