

.UnitTypeButton {
  display: inline;
  padding: 0px;
  /* max-height: 50px; 
  min-height: 50px; */
}

.UnitTypeButton>.add-unit{
  border:2px solid #6d6d6d;
  cursor: pointer;
}

.UnitTypeButton .add-unit.pressed {
  border: 2px solid pink;
}
.UnitTypeButton .icon{
  height: 30px;
}