.UnitChildrenPanel {
  position: absolute;
  border-radius: 10px;
   right: 50%;
  bottom: 80%; 
  background: #999999;
  opacity: 0.8; 
  max-width: 40%;
  max-height: 40%;
  z-index: 200;
  display: none;
}
.UnitChildrenPanelDraggable{
  display: none;
}
.UnitChildrenPanelDraggable.has-content{
  display: block;
}
.UnitChildrenPanel:after {
  content: "";
  display: table; 
  clear: both;  
}