.resource-list{
  display: inline;  
  margin: 0; 
  padding-left: 10px;
}
.resource-list li {
  padding-left: 6px;
}
@media only screen and (min-width: 600px) {
  .resource-list li {
    padding-left: 16px;
  }
}
.resource-list li {
  padding-left: 6px;
}
.resource-list .value {
  font-weight: bold;
}
.resource-list .per-turn {
  font-size: 0.9em;
}