.UnitSelectionInfo {
  pointer-events:all;
  line-height: var(--line-height);
}
.UnitSelectionInfo img {
  max-height: var(--box-height);
}
.UnitSelectionInfo td {
  padding: 0;
}
.UnitSelectionInfo .value {
  font-weight: bold;
}